<div class="contents row" style="height:100%; margin-top:-24px;">
    <div class="success">
      <h3 style="color:white; font-size:20px;">
        削除が完了しました。
      </h3>
      <a class="btn" href="/" style="background-color:#333333; ">投稿一覧へ戻る</a>
    </div>
  </div>