  <div class="contents row" style="height:100%; margin-top:-24px;">
    <%= form_tag("/posts/#{@post.id}", method: :patch ) do %>
      <h3 style="color:white; font-size:20px;">
        編集する
      </h3>
      <textarea cols="30" name="text" placeholder="text" rows="10" style="color:white;"><%= @post.text %></textarea>
      <input type="submit" value="SENT">
    <% end %>
  </div>