.row{
    background-image: url(https://cdn-ak2.f.st-hatena.com/images/fotolife/b/blog-media/20170605/20170605162500.jpg);
    background-size: cover;
}
 .pagination{
    background-color: #333333
}
.aa{
    margin-top: -20px;
}
.bkRGBA{
    /* 背景画像の透過用css */
    height: 100%;
    background: rgba(255,255,255,0.5);
  }
.card-action{
    color:#f3cc9b
}
.btn-floating{
    background-color: #f3cc9b;
}
p{
    font-weight: bold;
    padding-top: 20px;
    font-family: "STKaiti";
}
